

  {{#if blogposts.length}}
  <div class="col-md-6 project-list">
    <h3>Current Posts:</h3>

    {{#each dbPostData as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{blogpost.id}}">{{blogpost.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/add-post.js"></script>
